*,
*:before,
*:after {
  transition: 0.2s ease-in-out;
}

.switch-indicator-block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  display: flex;
  flex-direction: column;
  align-items: center;

  &.indicator-on {
    top: 10px;

    .switch-indicator {
      background: #171717;
    }
  }

  &.indicator-off {
    bottom: 10px;

    .switch-indicator {
      background: #171717;
    }
  }

  .switch-indicator-wrap {
    width: 18px;
    height: 29px;
    border-radius: 30px;
    padding: 2px;
    background: linear-gradient(
      340.92deg,
      rgba(255, 255, 255, 0.8) -2.41%,
      rgba(164, 143, 122, 0.8) 100%
    );

    .switch-indicator {
      border-radius: 30px;

      height: 100%;
      width: 100%;
    }
  }

  .switch-indicator-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #151a30;
  }
}

.switch-element {
  position: relative;
  height: 330px;
  width: 330px;
  background: linear-gradient(135deg, #e9ddd2 0%, #917c68 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  $border: 4px;

  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 4px;

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:checked ~ label {
      .cnt1 {
        .cnt2 {
          background: #4e2f13;

          .cnt3-border-wrap {
            transform: translate(-50%, 0%);

            .indicator-off {
              .switch-indicator {
                background: #171717;
              }
            }

            .indicator-on {
              .switch-indicator {
                background: #24ff54;
              }
            }
          }
        }
      }
    }

    &:not(:checked) ~ label {
      .cnt1 {
        .cnt2 {
          background: #fff1e4;

          .cnt3-border-wrap {
            transform: translate(-50%, 3%);

            .indicator-off {
              .switch-indicator {
                background: #ff3306;
              }
            }

            .indicator-on {
              .switch-indicator {
                background: #171717;
              }
            }
          }
        }
      }
    }
  }

  label {
    cursor: pointer;
  }

  .cnt1-border-wrap {
    position: absolute;
    width: 236px;
    height: 236px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    border-radius: 4px;
    background: linear-gradient(135deg, #a48f7a 0%, #ffffff 100%);

    .cnt1 {
      border-radius: 4px;
      background: #0a0501;
      width: 100%;
      height: 100%;

      .cnt2 {
        position: absolute;

        height: 224px;
        width: 224px;
        background: #fff1e4;

        left: 50%;
        top: 50%;
        border-radius: 6px;
        transform: translate(-50%, -50%);

        .cnt3-border-wrap {
          position: absolute;
          width: 224px;
          height: 218px;

          left: 50%;
          top: 0;
          transform: translate(-50%, 3%);

          padding: 2px;
          border-radius: 6px;
          background: linear-gradient(
              135deg,
              rgba(255, 255, 255, 0.5) 0%,
              rgba(164, 143, 122, 0.5) 45.31%,
              rgba(255, 255, 255, 0.5) 100%
            ),
            conic-gradient(from 225.46deg at 100.22% 1.61%, #ffffff 0deg, #502905 360deg);

          .cnt3 {
            border-radius: 6px;
            background: linear-gradient(135deg, #e9ddd2 0%, #917c68 91.55%);
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: conic-gradient(from 225deg at 100.15% 0%, #ffffff 0deg, #502905 360deg);
  }
}
