*,
*:before,
*:after {
  transition: 0.2s ease-in-out;
}

.switch-element {
  position: relative;
  margin: auto;
  max-height: 330px;
  max-width: 330px;
  height: 330px;
  aspect-ratio: 1/1;
  background: linear-gradient(135deg, #e9ddd2 0%, #917c68 100%);
  box-shadow: 0 4px 4px #00000040;
  background-clip: padding-box;
  border: solid 4px transparent;
  border-radius: 4px;

  &__black-square-border {
    position: absolute;
    width: 73.3%;
    height: 73.3%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    border-radius: 4px;
    background: linear-gradient(135deg, #a48f7a 0%, #ffffff 100%);
  }

  &__black-square {
    border-radius: 4px;
    background: #0a0501;
    width: 100%;
    height: 100%;
  }

  &__light-square {
    position: absolute;
    height: 94.92%;
    width: 94.92%;
    background: #fff1e4;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%);
  }

  &__button-border {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    padding: 1px;
    border-radius: 4px;
    background: linear-gradient(135deg, #a48f7a 0%, #ffffff 100%);
  }

  &__button {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button_color-red {
    background: #ff0707;
  }

  &__button_color-green {
    background: #00ff38;
  }

  &__text {
    color: #151a30;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__button-shadow {
    position: absolute;
    height: 92.5%;
    z-index: -1;
    width: 102%;
    background: #1F0F02;
    opacity: .4;
    filter: blur(3.5px);
    border-radius: 4px;
    right: -4px;
    bottom: -7px;
  }
}