.footer {
    color: #7A6A2A;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}