.footer {
  color: #7a6a2a;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
