.b-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ff0707;
  .b-trigger__title {
    text-transform: uppercase;
    color: var(--black-main, #151a30);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.b-trigger_active {
  background: #00ff38;
}
